/* body{
    text-align: left;
    background-color:rgba(33, 32, 32, 0.129);
    margin:auto;
    width: 1010px;
    padding:10px;
    background-color:#ebebeb;
    font-size:14px;
    font-family:Verdana;

} */
/* 

.btn btn-primary{
padding: 40rem;
margin: 20rem;
}

.text_muted{
    font-size: medium;
    text-shadow: 50rem;
}

.address{
    font-size: medium;
    padding: auto;
    margin: auto;
    color: midnightblue;
    
} */

/* code tamrine aval to html  */


body{

text-align: left;
background-color: #adacae;

}
table{
    text-align: center;
    width: 1010px;
 
}